@charset "utf-8";
input { background: none; border: none; }
select { background: none; border: none; }
#content input.submit { cursor: pointer; }

#content { position:relative; min-height: 100%; padding: 0px 0 70px 0; box-sizing: border-box;  }
#content .find { width: 100%; margin: 0 auto; }
#content h3 { padding: 30px 0px 0 2%; font-size: 20px; font-weight: 700; float: left; }
#content input { margin-left: 5%; float: left; width: 55%; height: 25px; margin-top: 28px; border: 1px solid #a0a0a0; }
#content input.submit { float: left; width: 13%; height: 29px; line-height: 29px; text-align: center; margin-left: 15px; background: #737373; color: #fff; }
#content select {
	margin-top: 10px; width: 28.6%; height: 25px; margin-left: 22%; border: 1px solid #a0a0a0; 
	-webkit-appearance: none; /* 네이티브 외형 감추기 */ 
    -moz-appearance: none; 
    appearance: none;
    background: url("../images/sel_arrow.png") no-repeat 95% 50%; /* 화살표 모양의 이미지 */
    background-size: 10px; }

#content select:last-child { margin-left: 0%; }

.dessert { margin-top: 15px; width: 100%; }
.box { float: left; margin: 10px 0 15px 7%; width: 40%; height: 120px; }
.imgbox { border: 1px solid #000; box-sizing: border-box; overflow: hidden; }
.imgbox img { width: 100%; height: 100%; }
.txtbox { padding: 10px; border-radius: 6px; border: 1.5px solid #f26c69; box-sizing: border-box; font-size: 14px; font-weight: 400; }
.txtbox p { margin-bottom: 6px; }
